body {
  background-color: #F0F0F0;
}
#division {
  background-color: #00FFFF;
  position: relative;
  width: 100%;

}
#table20 {
  width: 100%;
}
#button {
  color: #6495ED;
}
#th1 {
  background: #C0C0C0;
  cursor: pointer;
}
#th2 {
  background: #C0C0C0;
  cursor: pointer;
}
#th3 {
  background: #C0C0C0;
  cursor: pointer;
}
#th4 {
  background: #C0C0C0;
  cursor: pointer;
}
